*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
nav{
    background-color: brown;
    width: 100%;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: burlywood;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}